img {
	
	width: 100%;
	height: auto;
}

.logo {

	max-width: 30%;
	float: left;
}

.logo-text{
	float: right;
	float: bottom;
	margin-right: 3%;

}

hr {
	color: black;
	height: 10px;
	background-color: black;
}

.obligatory-dividing-line {
	margin-top: -2%;

}

