* {
    margin-left: 5% margin-right: 5%;
}
.logo-graphic {
    width: 100%;
    height: auto;
    background: white;
}
.logo {
    margin-top: 3%;
    margin-left: 3%;
    float: left;
    background: white;
}
.logo-text {
    float: right;
    margin-right: 3%;
    background: white;
}
a {
    font-size: 5px;
}
.logo-text-subtitle {
    margin-top: 70px;
}
hr {
    color: #66ff66;
    height: 11px;
    background-color: #66ff66;
    margin-top: 0;
    margin-bottom: -2px;
}
.marquee {
    background: black;
}
.marquee-graphic {
    height: auto;
    width: 100%;
}
.featured-work {
    background: black;
}
.featured-work-title {
    color: green;
}
.featured-work-caption-first {
    color: green;
    margin-left: 5%;
}
.featured-work-caption {
    color: green;
    margin-left: 0;
}
.featured-image {
    margin-left: 6%;
    margin-right: 6%;
    height: 20%;
}
.featured-image-graphic {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 800px) {
    .featured-work-caption-first {
        color: green;
        margin-left: 12%;
    }
    .featured-image {
        margin-left: 8%;
        margin-right: 8%;
    }
}
@media screen and (max-width: 450px) {
    .featured-work-caption-first {
        color: green;
        margin-left: 10%;
    }
    .featured-image {
        margin-left: 6%;
        margin-right: 6%;
    }
}